body { 
  background: url('../images/pinkpaper.jpg');
  background-size: 100%;

}

/*Button functions*/

.button {
  display: inline-block;
  background-color: pink;
  padding: 10px 16px;
  border-radius: 12px;
  margin: 12px 0;
  color: white;
  text-decoration: none;
}
.button:hover {
  color: #606475;
}



/*headers*/

h1{
	font-family: 'Hepta Slab', serif;
	font-size: 140px;
  text-align: justify;
  text-transform: lowercase;
  margin-top:30px;
  margin-left: 300px 
}

/*Text displays for the products*/
.rounded-box{
  background-color: #FFFDF3;
  padding: 40px;
  border-radius: 12px;
  display: inline-block;
  margin: 40px;

}
/*Title on the homepage*/

.sustainable {
  font-family: 'Work Sans', sans-serif;
  font-size: 50px;
  text-align: justify;
  margin-left:200px;
}

/*Grid to keep boxes in line*/
.grid-2{
  display:grid;
  grid-template-columns: 50% 50%;
  width:80%;
  margin: 80px auto;
}
.grid-2 img{
  width: 100%;
  border-radius: 12px;
  -webkit-box-shadow: -26px 24px 33px 0px rgba(0,0,0,0.59);
  -moz-box-shadow: -26px 24px 33px 0px rgba(0,0,0,0.59);
  box-shadow: -26px 24px 33px 0px rgba(0,0,0,0.59);
  transition: transform .2s; /* Animation */
  margin: 0 auto;

}
img:hover{
  transform: scale(1.2);
}

/*icons on informational pages*/
.toothbrush-oralcare{
  position: absolute;
  top: 65%;
  left: 80%;
  transform: translate(-50%, -50%);
  opacity: 20%;
}

.comb-haircare{
  position: absolute;
  top: 50%;
  left: 75%;
  transform: translate(-50%, -50%);
  opacity: 20%;
}

.mirror-skincare{
  position: absolute;
  left: 30%;
  top: 20%;
  transform: translate(-50%, -50%);
  transform:rotate(90deg);
  
}

.sparkle-bodycare{
  position: absolute;
  top: 50%;
  left: 80%;
  transform: translate(-50%, -50%);
  opacity: 20%;
}

/*Icons on the homepage*/
.comb {
  position: absolute;
  top: 30%;
  left: 65%;
  transform: translate(-50%, -50%);
}

.mirror {
  position: absolute;
  top: 60%;
  left: 20%;
  transform: translate(-50%, -50%);
}

.toothbrush {
  position: absolute;
  top: 80%;
  left: 55%;
  transform: translate(-50%, -50%);
}

.sparkle {
  position: absolute;
  top: 65%;
  left: 70%;
  transform: translate(-50%, -50%);
}

.icon {
  z-index: -1;
  color: #606475;
}
/*informational text styles*/

.introparagraph{
  font-family: 'Work Sans', sans-serif;
  font-size: 18px;
  text-align: left;
  max-width:400px;
  padding-left: 250px;
  color: #606475;
  line-height: 100%
}

.secondarytitleone{
  font-family: 'Hepta Slab', sans-serif;
  font-size: 45px;
  text-transform: lowercase;
  color: #606475;
}

.secondarytitletwo{
  font-family: 'Hepta Slab', sans-serif;
  font-size: 45px;
  text-transform: lowercase;
  padding-left: 700px;
  color: #606475;
}

.firstbodytext {
	font-family: 'Work Sans', sans-serif;
	font-size: 16px;
  max-width:400px;
  color: #606475;
  line-height: 115%
}

.secondbodytext {
  font-family: 'Work Sans', sans-serif;
  font-size: 16px;
  text-align: left;
  margin: 20px;
  max-width:400px;
  color: #606475;
  line-height: 115%
}

/*main headers for links*/

h2{
	font-family: 'Work Sans', sans-serif;
	font-size: 60px;
}


/* Clear floats after the columns */


header {

  margin-top: 80px;
  text-align: justify;
  font-size: 35px;
  color: #606475;

}

/*Navigation Styles*/
.topnav {
  width: 100%;
  padding: 20px;
  text-align: center;
  display: inline-block;
  z-index: 1;
  background-color: #606475;

}

.topnav a {
  color: #f2f2f2;
  text-align: center;
  padding: 20px 20px;
  text-decoration: none;

}

/* Links - change color on hover */
.topnav a:hover {
  background-color: pink;
  color: #606475;
}

li {
	display: inline;
	font-family: 'Hepta Slab', serif;


}


footer {margin-top: 100px;}

/*alighnment of the webapages*/

@media only screen and (max-width: 800px) {
  .grid-2 {
    grid-template-columns: repeat(2, 1fr);
  }
  .introparagraph {
    display: inline;
    font-size: 16px;
    grid-template-columns: repeat(2, 1fr);
    margin: 15px;
    
  }
  
  .sustainable{
    text-align: left;
    font-size: 25px;

      }

  h1 {
    display: inline-block;
    text-align: justify;
    font-size: 70px;
    margin-left: 40px;
  }


  .firstbodytext{
    font-size: 14px
  }

  .secondbodytext{
    font-size: 14px
  } 
  .grid-2 img{
    grid-template-columns: 1fr;
  }
  .icon{
    visibility: hidden;
  }
}

@media only screen and (max-width: 520px) {
  .grid-2 {
    grid-template-columns: 1fr;
  }

  .introparagraph {
    display: inline;
    font-size: 14px;
    grid-template-columns: repeat(2, 1fr);
    margin-left: 15px;
    max-width: 400px;
  } 
  
  .icon{
    visibility: hidden;
  }

}