body { 
  background-color: #CFEBE8;
	background-size: cover;

}

.button {
  display: inline-block;
  background-color: teal;
  padding: 10px 16px;
  border-radius: 12px;
  margin: 12px 0;
  color: white;
  text-decoration: none;
}
.button:hover {
  color: antiquewhite;
}

.button2 {
  background-color: teal;
  padding: 10px 16px;
  border-radius: 12px;
  margin-left: 700px;
  color: white;
  text-decoration: none;
}
.button2:hover {
  color: antiquewhite;
}

h1{
	font-family: 'Hepta Slab', serif;
	font-size: 140px;
  text-align: justify;
  text-transform: lowercase;
  margin-top:30px;
  margin-left: 250px 
}
.rounded-box{
  background-color: #f2f2f2;
  padding: 40px;
  border-radius: 12px;
  display: inline-block;
  margin: 40px;

}

.sustainable {
  font-family: 'Work Sans', sans-serif;
  font-size: 50px;
  text-align: justify;
  margin-left:200px;
}

.grid-2{
  display:grid;
  grid-template-columns: 50% 50%;
  width:80%;
  margin: 80px auto;
}
.grid-2 img{
  width: 100%;
  border-radius: 12px;
  -webkit-box-shadow: -26px 24px 33px 0px rgba(0,0,0,0.59);
  -moz-box-shadow: -26px 24px 33px 0px rgba(0,0,0,0.59);
  box-shadow: -26px 24px 33px 0px rgba(0,0,0,0.59);
}

.toothbrush-oralcare{
  position: absolute;
  top: 65%;
  left: 80%;
  transform: translate(-50%, -50%);
  opacity: 20%;
}

.comb-haircare{
  position: absolute;
  top: 50%;
  left: 80%;
  transform: translate(-50%, -50%);
  opacity: 20%;
}

.mirror-skincare{
  position: absolute;
  left: 30%;
  top: 20%;
  transform: translate(-50%, -50%);
  transform:rotate(90deg);
  
}

.sparkle-bodycare{
  position: absolute;
  top: 65%;
  left: 80%;
  transform: translate(-50%, -50%);
  opacity: 20%;
}

.comb {
  position: absolute;
  top: 30%;
  left: 65%;
  transform: translate(-50%, -50%);
}

.mirror {
  position: absolute;
  top: 60%;
  left: 20%;
  transform: translate(-50%, -50%);
}

.toothbrush {
  position: absolute;
  top: 80%;
  left: 55%;
  transform: translate(-50%, -50%);
}

.sparkle {
  position: absolute;
  top: 65%;
  left: 75%;
  transform: translate(-50%, -50%);
}

.icon {
  z-index: -1;
  color: #606475;
}

.introparagraph{
  font-family: 'Work Sans', sans-serif;
  font-size: 18px;
  text-align: left;
  max-width:400px;
  padding-left: 250px;
  color: #606475;
  line-height: 100%
}

.secondarytitleone{
  font-family: 'Hepta Slab', sans-serif;
  font-size: 45px;
  text-transform: lowercase;
  color: #606475;
}

.secondarytitletwo{
  font-family: 'Hepta Slab', sans-serif;
  font-size: 45px;
  text-transform: lowercase;
  padding-left: 700px;
  color: #606475;
}

.firstbodytext {
	font-family: 'Work Sans', sans-serif;
	font-size: 16px;
  max-width:400px;
  color: #606475;
  line-height: 115%
}

.secondbodytext {
  font-family: 'Work Sans', sans-serif;
  font-size: 16px;
  text-align: left;
  margin: 20px;
  max-width:400px;
  color: #606475;
  line-height: 115%
}

h2{
	font-family: 'Work Sans', sans-serif;
	font-size: 60px;
}


/* Clear floats after the columns */


header {

  padding-top: 90px;
  text-align: center;
  font-size: 35px;
  color: #606475;

}


/* Create two columns/boxes that floats next to each other */
.topnav {
  width: 100%;
  padding: 20px;
  text-align: center;
  display: inline-block;
  z-index: 1;
    background-color: #333;

}

/* Style the list inside the menu */


/* Navbar links */
.topnav a {
  color: #f2f2f2;
  text-align: center;
  padding: 20px 20px;
  text-decoration: none;

}

/* Links - change color on hover */
.topnav a:hover {
  background-color: #CFEBE8;
  color: black;
}

li {
	display: inline;
	font-family: 'Hepta Slab', serif;
  

}

footer {margin-top: 100px;}
